	/*
  	Flaticon icon font: Flaticon
  	Creation date: 25/05/2017 08:09
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 0px;
}

.flaticon-001-dentist:before { content: "\f100"; }
.flaticon-002-first-aid-kit:before { content: "\f101"; }
.flaticon-003-tooth-13:before { content: "\f102"; }
.flaticon-004-tooth-12:before { content: "\f103"; }
.flaticon-005-dental-floss-1:before { content: "\f104"; }
.flaticon-006-tooth-pliers:before { content: "\f105"; }
.flaticon-007-appointment:before { content: "\f106"; }
.flaticon-008-tooth-11:before { content: "\f107"; }
.flaticon-009-braces-1:before { content: "\f108"; }
.flaticon-010-protection:before { content: "\f109"; }
.flaticon-011-dental-care:before { content: "\f10a"; }
.flaticon-012-toothbrush-1:before { content: "\f10b"; }
.flaticon-013-dental-floss:before { content: "\f10c"; }
.flaticon-014-clipboard:before { content: "\f10d"; }
.flaticon-015-chair:before { content: "\f10e"; }
.flaticon-016-tooth-10:before { content: "\f10f"; }
.flaticon-017-tooth-9:before { content: "\f110"; }
.flaticon-018-mouth:before { content: "\f111"; }
.flaticon-019-dental-drill:before { content: "\f112"; }
.flaticon-020-toothbrush:before { content: "\f113"; }
.flaticon-021-toothpaste:before { content: "\f114"; }
.flaticon-022-tooth-8:before { content: "\f115"; }
.flaticon-023-tooth-7:before { content: "\f116"; }
.flaticon-024-tooth-6:before { content: "\f117"; }
.flaticon-025-tooth-5:before { content: "\f118"; }
.flaticon-026-glass-of-water:before { content: "\f119"; }
.flaticon-027-water:before { content: "\f11a"; }
.flaticon-028-mouthwash:before { content: "\f11b"; }
.flaticon-029-medicine:before { content: "\f11c"; }
.flaticon-030-braces:before { content: "\f11d"; }
.flaticon-031-pills:before { content: "\f11e"; }
.flaticon-032-anesthesia:before { content: "\f11f"; }
.flaticon-033-apple:before { content: "\f120"; }
.flaticon-034-hook:before { content: "\f121"; }
.flaticon-035-lens:before { content: "\f122"; }
.flaticon-036-tooth-4:before { content: "\f123"; }
.flaticon-037-tooth-3:before { content: "\f124"; }
.flaticon-038-tooth-2:before { content: "\f125"; }
.flaticon-039-tooth-1:before { content: "\f126"; }
.flaticon-040-tooth:before { content: "\f127"; }